.pl{
    margin-left: 5%;
}
.ml{
    margin-left:1rem;
}
.mtop{
    margin-top: 1%;
}
.mt{
    margin-top: 1.5%;
}
label{
    display: inline-block;
    width:150px;
}
.hobb,.grad{
    padding-left: 13%;
}
.right{
    padding-left: 20%;
    margin-top:2rem;
}
.left{
    margin-left:0.3rem;
    margin-top:2rem;
}
.container .row{
    display: flex;
    margin-top: 2rem;
}
.bot{
    margin-top: 0.5rem;
}
